html {
  font-family: "inter";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

h1 {
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

h2 {
  font-size: 3.5555555556rem;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

h4 {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

h5 {
  font-size: 1.5555555556rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

@font-face {
  font-family: "inter";
  font-weight: 400;
  src: url("../fonts/inter/regular/Inter-Regular.eot"), url("../fonts/inter/regular/Inter-Regular.otf") format("opentype"), url("../fonts/inter/regular/Inter-Regular.ttf") format("truetype"), url("../fonts/inter/regular/Inter-Regular.woff") format("woff"), url("../fonts/inter/regular/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 500;
  src: url("../fonts/inter/medium/Inter-Medium.eot"), url("../fonts/inter/medium/Inter-Medium.otf") format("opentype"), url("../fonts/inter/medium/Inter-Medium.ttf") format("truetype"), url("../fonts/inter/medium/Inter-Medium.woff") format("woff"), url("../fonts/inter/medium/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 600;
  src: url("../fonts/inter/semibold/Inter-SemiBold.eot"), url("../fonts/inter/semibold/Inter-SemiBold.otf") format("opentype"), url("../fonts/inter/semibold/Inter-SemiBold.ttf") format("truetype"), url("../fonts/inter/semibold/Inter-SemiBold.woff") format("woff"), url("../fonts/inter/semibold/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "inter";
  font-weight: 700;
  src: url("../fonts/inter/bold/Inter-Bold.eot"), url("../fonts/inter/bold/Inter-Bold.otf") format("opentype"), url("../fonts/inter/bold/Inter-Bold.ttf") format("truetype"), url("../fonts/inter/bold/Inter-Bold.woff") format("woff"), url("../fonts/inter/bold/Inter-Bold.woff2") format("woff2");
}
.button {
  font-size: 18px;
  font-family: "inter";
  font-weight: 500;
  border-radius: 8px;
  border: none;
}
.button--yellow {
  background-color: #FFE492;
  color: #043873;
}
.button--blue {
  background-color: #4F9CF9;
  color: #ffffff;
}
.button--white {
  color: #212529;
  border: 1px solid #FFE492;
}
.button--xs {
  padding: 18.5px 24px;
}
.button--small {
  padding: 16px 40px;
}
.button--medium {
  padding: 18.5px 40px;
}
.button--big {
  padding: 20px;
}
.button--huge {
  padding: 20px 40px;
}
.button--arrow-right {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
}
.button--arrow-right::after {
  content: "";
  display: block;
  background-image: url("../../images/arrow-right.svg");
  width: 12px;
  height: 11px;
}

@media screen and (max-width: 320px) {
  .button--arrow-right {
    gap: 10px;
  }
  .button--arrow-right::after {
    content: "";
    display: inline-block;
    background-image: url("../../images/arrow-right.svg");
    width: 12px;
    height: 11px;
    margin-left: 5px;
  }
}
.container {
  max-width: 1480px;
  margin-inline: auto;
  padding: 0 32px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 15px;
  }
}
.header {
  background-color: #043873;
}
.header__navigation {
  height: 92px;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 191px;
  height: 34px;
  margin-right: auto;
}
.header__list {
  display: flex;
  gap: 32px;
  margin-right: 60px;
}
.header__list-link {
  position: relative;
  padding-right: 30px;
  color: #ffffff;
}
.header__list-link::after {
  content: "";
  position: absolute;
  background-image: url("../../images/arrow-down.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  height: 24px;
  width: 24px;
  transform: translate(30%, 0);
}
.header__button {
  display: flex;
  gap: 24px;
}
.header__menu {
  display: none;
}
.header__checkbox {
  display: none;
}
.header__burger {
  flex-direction: column;
  justify-content: space-between;
  width: 42px;
  height: 30px;
}
.header__burger-line {
  width: 42px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.header__burger-line:nth-child(1), .header__burger-line:nth-child(3) {
  transition-delay: 0.2s;
}

@media screen and (max-width: 1220px) {
  .header__navigation {
    gap: 20px;
  }
  .header__list {
    display: none;
  }
  .header__menu {
    display: block;
  }
  .header__burger {
    display: flex;
  }
  #burger-checkbox:checked + .header__burger + .header__list {
    display: flex;
  }
  #burger-checkbox:checked + .header__burger > .header__burger-line:nth-child(1) {
    transform: rotate(45deg) translate(8px, 10px);
  }
  #burger-checkbox:checked + .header__burger > .header__burger-line:nth-child(2) {
    transform: scale(0);
  }
  #burger-checkbox:checked + .header__burger > .header__burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -10px);
  }
}
@media screen and (max-width: 768px) {
  .header__button {
    display: none;
  }
}
.hero-container {
  background-image: url("../../images/pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 70%;
  background-color: #043873;
  padding: 140px 0;
}
.hero-container .hero {
  display: flex;
  align-items: center;
}
.hero-container .hero__info {
  color: #ffffff;
  max-width: 656px;
}
.hero-container .hero__info-title {
  padding-bottom: 24px;
}
.hero-container .hero__info-description {
  line-height: 30px;
  letter-spacing: -0.02rem;
  padding-bottom: 60px;
}
.hero-container .hero__button-taskey {
  display: none;
}
.hero-container .hero__image {
  width: 824px;
  height: 549px;
  background-color: #A7CEFC;
}

@media screen and (max-width: 1152px) {
  .hero-container .hero__info {
    max-width: 691px;
  }
  .hero-container .hero__image {
    max-width: 685px;
    height: 456px;
  }
}
@media screen and (max-width: 768px) {
  .hero-container {
    background-image: url("../../images/pattern-md.svg");
    background-position: 40% center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-container .hero {
    flex-wrap: wrap;
    gap: 100px;
  }
  .hero-container .hero__info {
    text-align: center;
  }
  .hero-container .hero__info-title {
    font-size: 3rem;
  }
  .hero-container .hero__button-try {
    margin-inline: auto;
    padding: 20px 40px;
  }
  .hero-container .hero__image {
    margin-inline: auto;
    max-width: 551px;
    height: 368px;
  }
}
@media screen and (max-width: 320px) {
  .hero-container {
    background-image: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .hero-container ::before {
    content: "";
    position: absolute;
    background-image: url("../../images/pattern.svg");
    top: 0;
    right: 0;
    width: 1485px;
    height: 690px;
    transform: translate(-20%, 30%);
    rotate: -160deg;
    z-index: -1;
    opacity: 0.2;
  }
  .hero-container .hero__info-title {
    font-size: 2rem;
  }
  .hero-container .hero__image {
    max-width: 268px;
    height: 191px;
  }
  .hero-container .hero__button-try {
    display: none;
  }
  .hero-container .hero__button-taskey {
    text-align: left;
    display: block;
    max-width: 232px;
    margin-inline: auto;
    font-weight: 400;
    line-height: 1.6666666667rem;
  }
}
.work-management-container {
  padding: 140px 0;
  position: relative;
  z-index: 2;
}
.work-management-container ::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/fingerprint.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 65%;
  width: 800px;
  height: 450px;
  transform: translate(10%, 65%);
  opacity: 0.2;
  z-index: -1;
}
.work-management-container .work-management .project-management {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.work-management-container .work-management .project-management__info {
  max-width: 672px;
  color: #212529;
}
.work-management-container .work-management .project-management__title {
  padding-bottom: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.work-management-container .work-management .project-management__title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/yellow-splash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 690px;
  height: 80px;
  bottom: 0;
  left: 0;
  transform: translate(0, 5px);
  z-index: -1;
}
.work-management-container .work-management .project-management__description {
  margin-bottom: 60px;
}
.work-management-container .work-management .project-management__image {
  width: 748px;
  height: 547px;
  background-color: #A7CEFC;
}
.work-management-container .work-management .work-together {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 100px;
  padding-top: 100px;
}
.work-management-container .work-management .work-together__image {
  background-image: url("../../images/Work-Together.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 710px;
  height: 661px;
  flex-shrink: 1;
}
.work-management-container .work-management .work-together__info {
  max-width: 670px;
  color: #212529;
  flex-shrink: 5;
}
.work-management-container .work-management .work-together__title {
  padding-bottom: 24px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.work-management-container .work-management .work-together__title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/yellow-splash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 45px;
  bottom: 0;
  left: 0;
  transform: translate(200px, -20px);
  z-index: -1;
}
.work-management-container .work-management .work-together__description {
  margin-bottom: 60px;
  line-height: 1.1111111111rem;
}
@media screen and (max-width: 1284px) {
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 430px;
    height: 45px;
    transform: translate(0, -18px);
  }
}
@media screen and (max-width: 1152px) {
  .work-management-container .work-management__title {
    font-size: 3.5555555556rem;
  }
  .work-management-container .work-management .work-together {
    gap: 33px;
  }
  .work-management-container .work-management .work-together__title {
    font-size: 3.5555555556rem;
  }
}
@media screen and (max-width: 1050px) {
  .work-management-container {
    background-image: url("../../images/fingerprint.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -15% 20%;
    background-size: 30%;
    position: unset;
  }
  .work-management-container::before {
    display: none;
  }
  .work-management-container .work-management .work-together__image {
    width: 583px;
    height: 542px;
  }
}
@media screen and (max-width: 768px) {
  .work-management-container {
    padding: 100px 0;
  }
  .work-management-container .work-management .project-management {
    flex-wrap: wrap;
    gap: 60px;
  }
  .work-management-container .work-management .project-management__info {
    text-align: center;
  }
  .work-management-container .work-management .project-management__title {
    font-size: 3rem;
  }
  .work-management-container .work-management .project-management__title::after {
    content: "";
    position: absolute;
    width: 530px;
    height: 80px;
    bottom: 0;
    left: 38%;
    transform: translate(0, 15px);
    z-index: -1;
  }
  .work-management-container .work-management .project-management__button {
    margin-inline: auto;
  }
  .work-management-container .work-management .project-management__image {
    margin-inline: auto;
    width: 561px;
    height: 349px;
  }
  .work-management-container .work-management .work-together {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 100px;
  }
  .work-management-container .work-management .work-together__info {
    text-align: center;
  }
  .work-management-container .work-management .work-together__title {
    font-size: 3rem;
  }
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 340px;
    height: 45px;
    transform: translate(295px, -7px);
  }
  .work-management-container .work-management .work-together__button {
    margin-inline: auto;
  }
}
@media screen and (max-width: 576px) {
  .work-management-container .work-management .project-management__title::after {
    content: "";
    position: absolute;
    width: 530px;
    height: 80px;
    bottom: 0;
    left: 0;
    transform: translate(70px, 18px);
  }
  .work-management-container .work-management .work-together__info {
    max-width: 429px;
  }
  .work-management-container .work-management .work-together__title {
    font-size: 3rem;
  }
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 340px;
    height: 45px;
    transform: translate(175px, -7px);
  }
  .work-management-container .work-management .work-together__image {
    max-width: 429px;
  }
}
@media screen and (max-width: 460px) {
  .work-management-container .work-management .project-management__title {
    font-size: 2.5rem;
  }
  .work-management-container .work-management .project-management__title::after {
    content: "";
    position: absolute;
    width: 450px;
    height: 80px;
    bottom: 0;
    left: 50px;
    transform: translate(0, 23px);
  }
  .work-management-container .work-management .work-together__info {
    max-width: 341px;
  }
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 80px;
    bottom: 0;
    left: 40px;
    transform: translate(0, 30px);
  }
  .work-management-container .work-management .work-together__image {
    max-width: 341px;
  }
}
@media screen and (max-width: 380px) {
  .work-management-container {
    padding: 80px 0;
  }
  .work-management-container .work-management .project-management__title {
    font-size: 2rem;
  }
  .work-management-container .work-management .project-management__title::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 80px;
    bottom: 0;
    left: 40px;
    transform: translate(0, 30px);
  }
  .work-management-container .work-management .work-together__info {
    max-width: 320px;
  }
  .work-management-container .work-management .work-together__title {
    font-size: 2rem;
  }
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 225px;
    height: 45px;
    transform: translate(90px, 2px);
  }
  .work-management-container .work-management .work-together__image {
    max-width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .work-management-container {
    padding: 80px 0;
  }
  .work-management-container .work-management .project-management__title {
    font-size: 2rem;
  }
  .work-management-container .work-management .project-management__title::after {
    content: "";
    position: absolute;
    width: 340px;
    height: 80px;
    bottom: 0;
    left: 25px;
    transform: translate(0, 32px);
  }
  .work-management-container .work-management .project-management__image {
    width: 286px;
    height: 177px;
  }
  .work-management-container .work-management .work-together__info {
    max-width: 288px;
  }
  .work-management-container .work-management .work-together__title {
    font-size: 2rem;
  }
  .work-management-container .work-management .work-together__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 230px;
    height: 45px;
    transform: translate(75px, 5px);
    z-index: -1;
  }
  .work-management-container .work-management .work-together__image {
    width: 279px;
    height: 260px;
  }
}
.extension-container {
  padding: 140px 0;
  background-color: #043873;
}
.extension-container .extension {
  display: flex;
  gap: 98px;
  align-items: center;
}
.extension-container .extension__info {
  max-width: 697px;
  color: #ffffff;
}
.extension-container .extension__title {
  padding-bottom: 24px;
  position: relative;
  z-index: 2;
}
.extension-container .extension__title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/yellow-splash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 48px;
  bottom: 0;
  left: 0;
  transform: translate(250px, -19px);
  z-index: -1;
}
.extension-container .extension__description {
  margin-bottom: 60px;
}
.extension-container .extension__image {
  width: 686px;
  height: 479px;
  background-color: #A7CEFC;
}

@media screen and (max-width: 1152px) {
  .extension-container .extension__title {
    font-size: 3.5555555556rem;
  }
  .extension-container .extension__image {
    width: 459px;
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  .extension-container {
    padding: 100px 0;
  }
  .extension-container .extension {
    flex-wrap: wrap;
    gap: 60px;
  }
  .extension-container .extension__info {
    text-align: center;
  }
  .extension-container .extension__title {
    font-size: 3rem;
  }
  .extension-container .extension__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    height: 38px;
    transform: translate(310px, -15px);
  }
  .extension-container .extension__button {
    margin-inline: auto;
  }
  .extension-container .extension__image {
    margin-inline: auto;
    width: 557px;
    height: 389px;
  }
}
@media screen and (max-width: 320px) {
  .extension-container {
    padding: 80px 0;
  }
  .extension-container .extension__title {
    font-size: 2rem;
  }
  .extension-container .extension__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 28px;
    transform: translate(55px, -15px);
  }
  .extension-container .extension__image {
    width: 284px;
    height: 198px;
  }
}
.pricing-container {
  padding: 140px 0;
}
.pricing-container .pricing {
  text-align: center;
}
.pricing-container .pricing__info {
  color: #212529;
}
.pricing-container .pricing__title {
  margin-bottom: 24px;
  position: relative;
  z-index: 2;
}
.pricing-container .pricing__title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../images/yellow-splash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  height: 50px;
  bottom: 0;
  left: 50%;
  transform: translate(-10px, 5px);
  z-index: -1;
}
.pricing-container .pricing__description {
  margin-inline: auto;
  margin-bottom: 60px;
  line-height: 1.6666666667rem;
  width: 979px;
}
.pricing-container .pricing__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.pricing-container .pricing__card {
  padding: 40px 44px;
  border: 1px solid #FFE492;
  border-radius: 10px;
  color: #212529;
  text-align: left;
}
.pricing-container .pricing__card-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}
.pricing-container .pricing__card-name {
  font-weight: 600;
}
.pricing-container .pricing__card-description {
  font-weight: 500;
}
.pricing-container .pricing__point-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 25px;
  align-items: start;
  font-size: 0.8888888889rem;
  line-height: 1.1111111111rem;
}
.pricing__block .pricing__card--active {
  background-color: #043873;
  border: none;
  padding: 80px 44px;
}
.pricing__card--active .pricing__card-name {
  line-height: 2rem;
}
.pricing__card--active .pricing__card-title {
  color: #FFE492;
}
.pricing__card--active .pricing__card-info, .pricing__card--active .pricing__point {
  color: #ffffff;
}
.pricing__card--active .pricing__point-list__item {
  font-weight: 500;
}
.pricing__card--active .pricing__button {
  color: #ffffff;
  border: none;
}

.footer-container {
  background-color: #043873;
  padding: 140px 0 32px 0;
}
.footer-container .footer {
  color: #ffffff;
}
.footer-container .footer__info {
  margin-bottom: 38px;
  display: flex;
  gap: 100px;
}
.footer-container .footer__whitepace {
  max-width: 240px;
}
.footer-container .footer__whitepace-logo {
  width: 191px;
  height: 34px;
  margin-bottom: 15px;
}
.footer-container .footer__whitepace-description {
  line-height: 1.6666666667rem;
}
.footer-container .footer__product {
  margin-left: 65px;
  width: 205px;
}
.footer-container .footer__product-name {
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-container .footer__product-list {
  font-size: 0.8888888889rem;
}
.footer-container .footer__product-item {
  margin-bottom: 16px;
}
.footer-container .footer__product-item:last-child {
  margin-bottom: 0;
}
.footer-container .footer__product-link {
  color: #ffffff;
}
.footer-container .footer__resources {
  width: 205px;
}
.footer-container .footer__resources-name {
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-container .footer__resources-list {
  font-size: 0.8888888889rem;
}
.footer-container .footer__resources-item {
  margin-bottom: 16px;
}
.footer-container .footer__resources-item:last-child {
  margin-bottom: 0;
}
.footer-container .footer__resources-link {
  color: #ffffff;
}
.footer-container .footer__company {
  width: 205px;
  margin-right: 100px;
}
.footer-container .footer__company-name {
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-container .footer__company-list {
  font-size: 0.8888888889rem;
}
.footer-container .footer__company-item {
  margin-bottom: 16px;
}
.footer-container .footer__company-item:last-child {
  margin-bottom: 0;
}
.footer-container .footer__company-link {
  color: #ffffff;
}
.footer-container .footer__try {
  max-width: 259px;
}
.footer-container .footer__try-title {
  margin-bottom: 23px;
}
.footer-container .footer__try-description {
  margin-bottom: 23px;
  font-size: 0.8888888889rem;
}
.footer-container .footer__try-button {
  font-size: 0.8888888889rem;
  line-height: 1.1111111111rem;
}
.footer-container .footer__socials {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8888888889rem;
  border-top: 1px solid #2E4E73;
}
.footer-container .footer__navigation-list {
  display: flex;
  gap: 60px;
}
.footer-container .footer__navigation-item:first-child {
  position: relative;
  padding-right: 30px;
  padding-left: 25px;
}
.footer-container .footer__navigation-item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("../../images/globus.svg");
  background-repeat: no-repeat;
  top: 0;
  right: 85%;
  height: 24px;
  width: 24px;
  transform: translate(30%, -5%);
}
.footer-container .footer__navigation-item:first-child::after {
  content: "";
  position: absolute;
  background-image: url("../../images/arrow-down.svg");
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  height: 24px;
  width: 24px;
  transform: translate(30%, -5%);
}
.footer-container .footer__navigation-link {
  color: #ffffff;
}
.footer-container .footer__icons {
  display: flex;
  align-items: center;
  gap: 32px;
}