@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url('../../fonts/inter/regular/Inter_Regular.eot'),
    url('../../fonts/inter/regular/Inter_Regular.otf') format("opentype"),
    url('../../fonts/inter/regular/Inter_Regular.ttf') format('truetype'),
    url('../../fonts/inter/regular/Inter_Regular.woff') format('woff'),
    url('../../fonts/inter/regular/Inter_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: url('../../fonts/inter/medium/Inter_Medium.eot'),
    url('../../fonts/inter/medium/Inter_Medium.otf') format("opentype"),
    url('../../fonts/inter/medium/Inter_Medium.ttf') format('truetype'),
    url('../../fonts/inter/medium/Inter_Medium.woff') format('woff'),
    url('../../fonts/inter/medium/Inter_Medium.woff2') format('woff2');
}


@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: url('../../fonts/inter/semibold/Inter_SemiBold.eot'),
    url('../../fonts/inter/semibold/Inter_SemiBold.otf') format("opentype"),
    url('../../fonts/inter/semibold/Inter_SemiBold.ttf') format('truetype'),
    url('../../fonts/inter/semibold/Inter_SemiBold.woff') format('woff'),
    url('../../fonts/inter/semibold/Inter_SemiBold.woff2') format('woff2');
}


@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url('../../fonts/inter/bold/Inter_Bold.eot'),
    url('../../fonts/inter/bold/Inter_Bold.otf') format("opentype"),
    url('../../fonts/inter/bold/Inter_Bold.ttf') format('truetype'),
    url('../../fonts/inter/bold/Inter_Bold.woff') format('woff'),
    url('../../fonts/inter/bold/Inter_Bold.woff2') format('woff2');
}
