@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url('../fonts/inter/regular/Inter-Regular.eot'),
        url('../fonts/inter/regular/Inter-Regular.otf') format("opentype"),
        url('../fonts/inter/regular/Inter-Regular.ttf') format('truetype'),
        url('../fonts/inter/regular/Inter-Regular.woff') format('woff'),
        url('../fonts/inter/regular/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: url('../fonts/inter/medium/Inter-Medium.eot'),
        url('../fonts/inter/medium/Inter-Medium.otf') format("opentype"),
        url('../fonts/inter/medium/Inter-Medium.ttf') format('truetype'),
        url('../fonts/inter/medium/Inter-Medium.woff') format('woff'),
        url('../fonts/inter/medium/Inter-Medium.woff2') format('woff2');
}


@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: url('../fonts/inter/semibold/Inter-SemiBold.eot'),
        url('../fonts/inter/semibold/Inter-SemiBold.otf') format("opentype"),
        url('../fonts/inter/semibold/Inter-SemiBold.ttf') format('truetype'),
        url('../fonts/inter/semibold/Inter-SemiBold.woff') format('woff'),
        url('../fonts/inter/semibold/Inter-SemiBold.woff2') format('woff2');
}


@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url('../fonts/inter/bold/Inter-Bold.eot'),
        url('../fonts/inter/bold/Inter-Bold.otf') format("opentype"),
        url('../fonts/inter/bold/Inter-Bold.ttf') format('truetype'),
        url('../fonts/inter/bold/Inter-Bold.woff') format('woff'),
        url('../fonts/inter/bold/Inter-Bold.woff2') format('woff2');
}