// colors
$primary-dark-blue: #043873;
$primary-light-blue: #4F9CF9;
$secondary-yellow: #FFE492;
$secondary-light-blue: #A7CEFC;
$secondary-dark-blue: #2E4E73;
$white: #ffffff;
$black: #212529;

// font size
$font-size: 18px;

$font-size-h1: 4rem;
$font-size-h2: 3.555555555555556rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-h5: 1.555555555555556rem;

$font-size-p1: 1.333333333333333rem;
$font-size-p2: $font-size;
$font-size-p3: 0.8888888888888889rem;

// line height
$line-height: 2rem;

$line-height-nav: 1.277777777777778rem;
$line-height-button: 1.277777777777778rem;

$line-height-h1: auto;
$line-height-h2: auto;
$line-height-h4: auto;
$line-height-h5: 2rem;

$line-height-p1: $line-height;
$line-height-p2: 1.666666666666667rem;
$line-height-p3: 1.111111111111111rem;

// letter spacing
$letter-spacing: -0.02rem;
$letter-spacing-nav: 0;
$letter-spacing-button: $letter-spacing;

$letter-spacing-h1: $letter-spacing;
$letter-spacing-h2: $letter-spacing;
$letter-spacing-h4: $letter-spacing;
$letter-spacing-h5: $letter-spacing;

$letter-spacing-p1: 0;
$letter-spacing-p2: $letter-spacing;
$letter-spacing-p3: $letter-spacing;

$breakpoints: (
    xs: 0,
    custom-275: 275px,
    sm: 320px,
    custom-368: 368px,
    custom-380: 380px,
    custom-460: 460px,
    custom-480: 480px,
    custom-492: 492px,
    custom-576: 576px,
    custom-578: 578px,
    custom-675: 675px,
    custom-733: 733px,
    md: 768px,
    custom-880: 880px,
    custom-933: 933px,
    custom-975: 975px,
    custom-1050: 1050px,
    lg: 1152px,
    custom-1220: 1220px,
    custom-1284: 1284px,
    custom-1315: 1315px,
    custom-1435: 1435px,
    custom-1436: 1436px,
    xl: 1440px,
    xxl: 1920px
    )