// colors
$primary-dark-blue: #043873;
$primary-light-blue: #4F9CF9;
$secondary-yellow: #FFE492;
$secondary-light-blue: #A7CEFC;
$secondary-dark-blue: #2E4E73;
$white: #ffffff;
$black: #212529;

// font size
$font-size: 18px;

$font-size-h1: 4rem;
$font-size-h2: 3.555555555555556rem;
$font-size-h4: 2rem;
$font-size-h5: 1.555555555555556rem;

$font-size-p1: 1.333333333333333rem;
$font-size-p2: $font-size;
$font-size-p3: 0.8888888888888889rem;

// line height
$line-height: 2rem;

$line-height-nav: 1.277777777777778rem;
$line-height-button: 1.277777777777778rem;

$line-height-h1: 100%;
$line-height-h2: 100%;
$line-height-h4: 100%;
$line-height-h5: 2rem;

$line-height-p1: $line-height;
$line-height-p2: 1.666666666666667rem; 
$line-height-p3: 1.111111111111111rem;

// letter spacing
$letter-spacing: -0.02rem;
$letter-spacing-nav: $letter-spacing;
$letter-spacing-button: $letter-spacing;

$letter-spacing-h1: $letter-spacing;
$letter-spacing-h2: $letter-spacing;
$letter-spacing-h4: $letter-spacing;
$letter-spacing-h5: $letter-spacing;

$letter-spacing-p1: 0;
$letter-spacing-p2: $letter-spacing; 
$letter-spacing-p3: $letter-spacing;

$breakpoints: (
    xs: 0,
    sm: 320px,
    custom-380: 380px,
    custom-460: 460px,
    custom-576: 576px,
    md: 768px,
    custom-1050: 1050px,
    lg: 1152px,
    custom-1220: 1220px,
    custom-1284: 1284px,
    custom-1435: 1435px,
    xl: 1440px,
    xxl: 1920px
)