@use "../base/variables" as *;
@use "../base/mixins" as *;

.extension-container {
    padding: 140px 0;
    background-color: $primary-dark-blue;

    .extension {
        display: flex;
        gap: 98px;
        align-items: center;

        &__info {
            max-width: 697px;
            color: $white;
        }

        &__title {
            padding-bottom: 24px;
            position: relative;
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                display: block;
                background-image: url("../images/yellow-splash.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 340px;
                height: 48px;
                bottom: 0;
                left: 38%;
                transform: translate(0, -19px);
                z-index: -1;
            }
        }

        &__description {
            line-height: $line-height-p2;
            margin-bottom: 60px;
        }

        &__button {}

        &__image {
            width: 686px;
            height: 479px;
            background-color: $secondary-light-blue;
        }
    }
}

@include media-down(xl) {
    .extension-container {
        .extension {
            &__info {
                max-width: 592px;
            }
            &__title {
                &::after {
                    content: "";
                    width: 340px;
                    height: 48px;
                    bottom: 0;
                    left: 41%;
                    transform: translate(0, -19px);
                }
            }
        }
    }
}

@include media-down(custom-1284) {
    .extension-container {
        .extension {
            &__info {
                max-width: 560px;
            }
            &__title {
                &::after {
                    content: "";
                    width: 340px;
                    height: 48px;
                    bottom: 0;
                    left: 0;
                    transform: translate(0, -19px);
                }
            }
            &__image {
                width: 500px;
                height: 360px;
            }
        }
    }
}

@include media-down (lg) {
    .extension-container {
        .extension {
            &__info {
                max-width: 528px;
            }

            &__title {
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-image: url("../images/yellow-splash.svg");
                    width: 340px;
                    height: 48px;
                    bottom: 0;
                    left: 40%;
                    transform: translate(0, -19px);
                }
            }

            &__image {
                width: 459px;
                height: 320px;
            }
        }
    }
}

@include media-down(custom-1050) {
    .extension-container {
        .extension {
            gap: 70px;

            &__info {
                max-width: 470px;
            }
            
            &__title {
                &::after {
                    content: "";
                    width: 340px;
                    height: 48px;
                    bottom: 0;
                    left: 0;
                    transform: translate(0, -19px);
                }
            }

            &__image {
                width: 459px;
                height: 310px;
            }
        }
    }
}

@include media-down(custom-975) {
    .extension-container {
        .extension {
            &__info {
                max-width: 440px;
            }

            &__image {
                width: 459px;
                height: 310px;
            }
        }
    }
}

@include media-down(custom-880) {
    .extension-container {
        .extension {
            gap: 10px;

            &__info {
                max-width: 380px;
            }

            &__image {
                height: 280px;
            }
        }
    }
}

@include media-down (md) {
    .extension-container {
        padding: 100px 0;

        .extension {
            flex-wrap: wrap;
            gap: 60px;

            &__info {
                margin-inline: auto;
                text-align: center;
            }

            &__title {
                font-size: 3rem;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 320px;
                    height: 38px;
                    bottom: 0;
                    left: 16%;
                    transform: translate(0, -16px);
                }
            }

            &__button {
                margin-inline: auto;
            }

            &__image {
                margin-inline: auto;
                width: 557px;
                height: 389px;
            }
        }
    }
}

@include media-down (custom-480) {
    .extension-container {
        .extension {
            &__image {
                width: 557px;
                height: 300px;
            }
        }
    }
}

@include media-down (custom-380) {
    .extension-container {
        .extension {
            &__title {
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 320px;
                    height: 38px;
                    bottom: 0;
                    left: 12%;
                    transform: translate(0, -16px);
                }
            }
        }
    }
}


@include media-down (sm) {
    .extension-container {
        padding: 80px 0;

        .extension {
            &__title {
                font-size: 2rem;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 210px;
                    height: 25px;
                    bottom: 0;
                    left: 20%;
                    transform: translate(0, -18px);
                }
            }

            &__image {
                width: 284px;
                height: 198px;
            }
        }
    }
}

// xs: 0,
// sm: 320px,
// custom-380: 380px,
// custom-460: 460px,
// custom-576: 576px,
// md: 768px,
// custom-1050: 1050px,
// lg: 1152px,
// custom-1220: 1220px,
// custom-1284: 1284px,
// custom-1435: 1435px,
// xl: 1440px,
// xxl: 1920px