@use "../base/variables" as *;

.extension-container {
    padding: 140px 0;
    background-color: $primary-dark-blue;

    .extension {
        display: flex;
        gap: 98px;
        align-items: center;

        &__info {
            max-width: 697px;
            color: $white;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__description {
            margin-bottom: 60px;
        }

        &__button {
        }

        &__image {
            min-width: 686px;
            height: 479px;
            background-color: $secondary-light-blue;
        }
    }
}