@use "../base/variables" as *;

.header {
    background-color: $primary-dark-blue;

    &__navigation {
        height: 92px;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 191px;
        height: 34px;
    }

    &__list {
        display: flex;
        gap: 32px;
        margin-right: 60px;
        margin-left: auto;

        &-item {}

        &-link {
            position: relative;
            padding-right: 30px;
            color: $white;

            &::after {
                content: "";
                position: absolute;
                background-image: url(../../images/arrow-down.svg);
                background-repeat: no-repeat;
                top: 50%;
                right: 0;
                height: 24px;
                width: 24px;
                transform: translate(30%, 0);
            }
        }
    }

    &__button {

        display: flex;
        gap: 24px;
        &-login {}

        &-try {
        }
    }
}