@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
    background-color: $primary-dark-blue;

    &__navigation {
        height: 92px;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 191px;
        height: 34px;
        margin-right: auto;
    }

    &__list {
        display: flex;
        gap: 32px;
        margin-right: 60px;

        &-item {}

        &-link {
            position: relative;
            padding-right: 30px;
            color: $white;

            &::after {
                content: "";
                position: absolute;
                background-image: url("/images/arrow-down.svg");
                background-repeat: no-repeat;
                top: 50%;
                right: 0;
                height: 24px;
                width: 24px;
                transform: translate(30%, 0);
            }
        }
    }

    &__button {
        display: flex;
        gap: 24px;

        &-login {}

        &-try {}
    }

    &__menu {
        display: none;
    }

    &__checkbox {
        display: none;
    }

    &__burger {
        flex-direction: column;
        justify-content: space-between;
        width: 42px;
        height: 30px;
    }

    &__burger-line {
        width: 42px;
        height: 2px;
        background-color: $white;
        border-radius: 2px;
        transition: all 0.2s ease-in-out;

        &:nth-child(1),
        &:nth-child(3) {
            transition-delay: 0.2s;
        }
    }
}


@include media-down(custom-1220) {
    .header {
        &__navigation {
            gap: 20px;
        }

        &__list {
            display: none;
        }

        &__menu {
            display: block;
        }

        &__burger {
            display: flex;
        }

        #burger-checkbox:checked+&__burger+&__list {
            display: flex;
        }

        #burger-checkbox:checked+&__burger>&__burger-line:nth-child(1) {
            transform: rotate(45deg) translate(8px, 10px);
        }

        #burger-checkbox:checked+&__burger>&__burger-line:nth-child(2) {
            transform: scale(0);
        }

        #burger-checkbox:checked+&__burger>&__burger-line:nth-child(3) {
            transform: rotate(-45deg) translate(9px, -10px);
        }
    }
}


@include media-down(md) {
    .header {
        &__button {
            display: none;
        }
    }
}