@use "../base/variables" as *;

.pricing-container {
    padding: 140px 0;

    .pricing {
        text-align: center;

        &__info {
            color: $black;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__description {
            margin-inline: auto;
            margin-bottom: 60px;
            line-height: $line-height-p2;
            width: 979px;
        }

        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }

        &__block {}

        &__card {
            padding: 40px 44px;
            border: 1px solid $secondary-yellow;
            border-radius: 10px;
            color: $black;
            text-align: left;

            &-info {
                display: flex;
                flex-direction: column;
                gap: 25px;
                margin-bottom: 25px;
            }

            &-name {
                font-weight: 600;
            }

            &-title {}

            &-description {
                font-weight: 500;
            }
        }

        &__point {
            &-list {
                display: flex;
                flex-direction: column;
                gap: 28px;
                margin-bottom: 25px;
                align-items: start;
                font-size: $font-size-p3;
                line-height: $line-height-p3;

                &__item {}
            }
        }

        &__button {
        }
    }
}

.pricing {
    &__block &__card--active {
        background-color: $primary-dark-blue;
        border: none;
        padding: 80px 44px;
    }
    &__card--active &__card-name {
        line-height: $line-height-p1;
    }

    &__card--active &__card-title {
        color: $secondary-yellow;
    }

    &__card--active &__card-info,
    &__card--active &__point {
        color: $white;
    }

    &__card--active &__point-list__item {
        font-weight: 500;
    }

    &__card--active &__button {
        color: $white;
        border: none;
    }
}