@use "../base/variables" as *;
@use "../base/mixins" as *;

.work-management-container {
    padding: 140px 0;
    position: relative;
    z-index: 2;

    ::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../images/fingerprint.svg");
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        right: 65%;
        width: 800px;
        height: 450px;
        transform: translate(10%, 65%);
        opacity: 0.2;
        z-index: -1;
    }

    .work-management {

        .project-management {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &__info {
                max-width: 672px;
                color: $black;
            }

            &__title {
                padding-bottom: 24px;
                position: relative;
                z-index: 2;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-image: url("../images/yellow-splash.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 690px;
                    height: 80px;
                    bottom: 0;
                    left: 0;
                    transform: translate(0, 5px);
                    z-index: -1;
                }
            }

            &__description {
                margin-bottom: 60px;
            }

            &__button {}

            &__image {
                width: 748px;
                height: 547px;
                background-color: $secondary-light-blue;
            }
        }

        .work-together {
            display: flex;
            align-items: center;
            align-content: center;
            gap: 100px;
            padding-top: 100px;

            &__image {
                background-image: url("../images/Work-Together.svg");
                background-repeat: no-repeat;
                background-size: contain;
                width: 710px;
                height: 661px;
                flex-shrink: 1;
            }

            &__info {
                max-width: 670px;
                color: $black;
                flex-shrink: 5;
            }

            &__title {
                padding-bottom: 24px;
                position: relative;
                z-index: 2;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-image: url("../images/yellow-splash.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 500px;
                    height: 45px;
                    bottom: 0;
                    left: 0;
                    transform: translate(200px, -20px);
                    z-index: -1;
                }
            }

            &__description {
                margin-bottom: 60px;
                line-height: $line-height-p3;
            }

            &__button {}
        }
    }
}

@include media-down(custom-1284) {
    .work-management-container {
        .work-management {
            .work-together {
                &__title {
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 430px;
                        height: 45px;
                        transform: translate(0, -18px);
                    }
                }
            }
        }
    }
}

@include media-down (lg) {
    .work-management-container {
        .work-management {
            &__title {
                font-size: $font-size-h2;
            }

            .work-together {
                gap: 33px;

                &__title {
                    font-size: $font-size-h2;
                }
            }
        }
    }
}

@include media-down (custom-1050) {
    .work-management-container {
        background-image: url("../images/fingerprint.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -15% 20%;
        background-size: 30%;
        position: unset;

        &::before {
            display: none;
        }

        .work-management {
            .work-together {
                &__image {
                    width: 583px;
                    height: 542px;
                }
            }
        }
    }
}

@include media-down (md) {
    .work-management-container {
        padding: 100px 0;

        .work-management {
            .project-management {
                flex-wrap: wrap;
                gap: 60px;

                &__info {
                    text-align: center;
                }

                &__title {
                    font-size: 3rem;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 530px;
                        height: 80px;
                        bottom: 0;
                        left: 38%;
                        transform: translate(0, 15px);
                        z-index: -1;
                    }
                }

                &__button {
                    margin-inline: auto;
                }

                &__image {
                    margin-inline: auto;
                    width: 561px;
                    height: 349px;
                }
            }

            .work-together {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                gap: 100px;

                &__info {
                    text-align: center;
                }

                &__title {
                    font-size: 3rem;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 340px;
                        height: 45px;
                        transform: translate(295px, -7px);
                    }
                }

                &__button {
                    margin-inline: auto;
                }
            }
        }
    }
}

@include media-down (custom-576) {
    .work-management-container {
        .work-management {
            .project-management {
                &__title {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 530px;
                        height: 80px;
                        bottom: 0;
                        left: 0;
                        transform: translate(70px, 18px);
                    }
                }

            }

            .work-together {
                &__info {
                    max-width: 429px;
                }

                &__title {
                    font-size: 3rem;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 340px;
                        height: 45px;
                        transform: translate(175px, -7px);
                    }
                }

                &__image {
                    max-width: 429px;
                }
            }
        }
    }
}

@include media-down (custom-460) {
    .work-management-container {
        .work-management {
            .project-management {
                &__title {
                    font-size: 2.5rem;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 450px;
                        height: 80px;
                        bottom: 0;
                        left: 50px;
                        transform: translate(0, 23px);
                    }
                }

            }

            .work-together {
                &__info {
                    max-width: 341px;
                }
                &__title {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 360px;
                        height: 80px;
                        bottom: 0;
                        left: 40px;
                        transform: translate(0, 30px);
                    }
                }
                &__image {
                    max-width: 341px;
                }
            }
        }

    }
}

@include media-down (custom-380) {
    .work-management-container {
        padding: 80px 0;

        .work-management {
            .project-management {
                &__title {
                    font-size: 2rem;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 360px;
                        height: 80px;
                        bottom: 0;
                        left: 40px;
                        transform: translate(0, 30px);
                    }
                }
            }

            .work-together {
                &__info {
                    max-width: 320px;
                }

                &__title {
                    font-size: 2rem;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 225px;
                        height: 45px;
                        transform: translate(90px, 2px);
                    }
                }
                &__image {
                    max-width: 320px;
                }
            }
        }
    }
}


@include media-down (sm) {
    .work-management-container {
        padding: 80px 0;

        .work-management {
            .project-management {
                &__title {
                    font-size: 2rem;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 340px;
                        height: 80px;
                        bottom: 0;
                        left: 25px;
                        transform: translate(0, 32px);
                    }
                }

                &__image {
                    width: 286px;
                    height: 177px;
                }
            }

            .work-together {
                &__info {
                    max-width: 288px;
                }

                &__title {
                    font-size: 2rem;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 230px;
                        height: 45px;
                        transform: translate(75px, 5px);
                        z-index: -1;
                    }
                }

                &__image {
                    width: 279px;
                    height: 260px;
                }
            }
        }
    }
}
